
/*contact section*/
.contact-caption{
	background: #3a9dca;
	max-width: 700px;
	margin: 0 auto!important;

	@include breakpoint(desktop) {
		margin-top: 120px!important;
	}
}
.contact-heading h2{
	font-size: 40px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 0;
	display: none;

	@include breakpoint(desktop) {
		display: block;
		font-size: 90px;
		margin-top: 50px;
	}
}
.contact-info{
	padding-left: 40px;
}
.contact-info h3{
	padding-left: 0;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #13849c;
	padding-bottom: 12px;
	margin-bottom: 0;
}
.contact-form h3{
	padding-left: 0;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #13849c;
	padding-bottom: 12px;
	margin-bottom: 0;
}
.contact-info ul{
	margin: 0;
	padding: 0;
}
.contact-info ul li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}
.contact-info i.fa{
	font-size: 16px;
  	padding-right: 12px;
  	width: 25px;
  	height: 38px;
}
.contact-info ul li span{
	font-weight: bold;
}
.contact-form input{
	width: 100%;
	height: 40px;
	background: #fff;
	font-size: 13px;
	color: #084a5c;
	font-family: 'Open Sans', sans-serif;
	padding: 12px;
	border:0;
	margin-bottom: 12px;
}
.contact-form textarea{
	font-family: 'Open Sans', sans-serif;
	padding:12px;
	width: 100%;
	height: 140px;
	border:0;
	margin-bottom: 12px;
}
.info-detail{
	border-top: 1px solid #53cde5;
	padding-top: 15px;
}
.form{
	border-top: 1px solid #53cde5;
	padding-top: 15px;
	text-align: right;
}
.contact-form input.submit-btn{
	width: 180px;
	height: 50px;
	float: right;
	font-size: 24px;
	color: #fff;
	background: url(../img/btn-bg.jpg);
	background-repeat: no-repeat;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
	font-weight: bold;

}
.contact-form{
	padding-right: 40px;
}

/*gmap*/

.api-map {
	display: none;
	@include breakpoint(desktop) {
		display: block;
	}
}

#map{
	height: 830px;
}
.map{
	position: relative;
	overflow: hidden;
}

@include breakpoint(desktop) {
.contact{
	position: absolute;
	width: 100%;
	height: 830px;
	margin-top: 0px;
	left: 0;
	margin-top: -830px;
	background: rgba(0, 0, 0, 0.51);
}
}
.contact-caption{
	margin-top: 120px;
}
