
.about-mobile {
	background: #3a9dca;
	color: #fff;
	padding: 50px 20px 0;

	svg {
		fill: white;
		width: 200px;
		margin-left: -16px;
	}

	h1 {
		margin-top: -20px;
	}

	p {
		font-size: 24px;
	}

	button{
  	width: 240px;
  	height: 60px;
  	background: #fff;
  	color: #3a9ecb;
  	font-size: 30px;
  	text-transform: uppercase;
  	border:0;
  	transition:all .5s ease 0s;
  	margin-top: 25px;
		margin-bottom: 30px;

 	&:hover{
 		background: #2a2a2a;
 	}
 	}

 	a {
 		color: #3a9ecb!important;
 	}

	@include breakpoint(desktop) {
		display: none;
	}
}

/*slider area*/
.slider {
	display:none;
	@include breakpoint(desktop) {
		display: block;
	}
}
.slider-row{
	margin: 0;
	padding: 0;
}
.slider-wrapper{
	margin: 0;
	padding: 0 !important;
	background: #000 !important;
}

.carousel-caption {
	position: absolute;
	text-align: left;
	left: 12%;
	line-height: 1;
	top: 0;


	svg {
		fill: white;
		width: 110px;
		margin-lefT: -10px;
		margin-top: -20px;
		margin-right: 200px;

		@include breakpoint(tablet) {
			width: 200px;
		}

		@include breakpoint(desktop) {
			width: 350px;
			margin-top: -40px;
			margin-left: -28px;
		}

	}

	.carousel-inner .item img {
		min-height: 320px!important;
		border: 1px solid red;
	}

	h1 {
		font-size: 30px;
		color: #fff;
		text-transform: none;
		margin-bottom: 0;
		margin-top: -10px;
		display: inline;

			@include breakpoint(desktop) {
				font-size: 70px;
					margin-top: -20px;
					display: block;;
			}
	}

	p {
	 font-size: 25px;
	 color: #fff;
	 text-transform: none;
	 font-weight: bold;
	 margin-top: 0;
	 display: inline;

	 @include breakpoint(desktop) {
		 display: block;
	 }
 }

 button{
 	width: 240px;
 	height: 60px;
 	background: #3a9ecb;
 	color: #fff;
 	font-size: 30px;
 	text-transform: uppercase;
 	border:0;
 	transition:all .5s ease 0s;
 	margin-top: 25px;

	&:hover{
		background: #2a2a2a;
	}
	}

	a {
		color: #fff!important;
	}
}


.carousel-caption button
.carousel-control{
	width: 5%;
}
.carousel-inner{
	background: -webkit-linear-gradient(left, #000 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #000 , blue); /* Standard syntax */
}
.item{
	position: relative;
}
.carousel-caption {

}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  font-size: 18px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin-left: 0;
  margin-top: 50px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  font-size: 18px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin-right: 0;
  margin-top: 50px;
}
