
/*footer*/

.footer {
	padding-left: 20px;

	@include breakpoint(desktop) {
		padding-lefT: 0;
	}
}

.footer-para{
	margin: 0;
	padding: 0;
}
.footer p{
	font-size: 12px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 25px 0;

}
.footer a i.fa{
	font-size: 24px;
	color: #b1b1b1;
	padding: 22px 10px;
}
.footer a i.fa:hover{
	color: #42b3e5;
}

.carousel-inner{
	position: relative;
}
